p, ol{ margin: 0; }

ol{
  padding-left: 20px;
}
.container-component-outer{
  font-family: 'Courier New', serif;
  font-size: 12px;
  border-bottom: dashed 1px black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-component-outer.last{
  border: none;
}




