.container-fluid.container-hidden{
    overflow-x: hidden;
}

/*.side-menu{*/

.side-menu__offcanvas{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: display .6s;
    display: none;
  }

.side-menu--open{
    display: block;
    width: 20%;
  }

.side-menu__dashboard{
  list-style: none;
  margin-top: 85px;
}
.side-menu__dashboard a{
  color: #ffffff;
}

.open-menu {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 60px;
  display: inline-block; 
}
.dashboard-title {
  padding-left: 70px; 
}
/*}*/

.main-content{
  padding: 20px 60px;
  transition: margin-left .3s;
}
.main-content--resize{
  max-width: 80%;
  margin-left: 20%;
}