

/* DASHBOARD STYLE */
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

button, a {
  cursor: pointer; }



.open-menu {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 60px;
  display: inline-block; 
}
/* END DASHBOARD STYLE */