
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

button, a {
  cursor: pointer; }

.card, .form-control, .btn{
  border-radius:0; 
}

.element-hide{
  display: none;
}

.element-show{
  display: block;
}

.btn-element{
  display: inline-block;
  vertical-align: middle;
}
.btn-element--left{
  margin-top: 4px;
}
.btn-element--right{
  
}